# Network configuration
network:
  version: 2
  ethernets:
    {{ primary_iface }}:
      dhcp4: no
      addresses:
        - "{{ vm_ip }}/24"
      gateway4: 192.168.88.1
      nameservers:
        addresses:
          - 8.8.8.8
          - 8.8.4.4
          - {{ vm_ip }}